@model IEnumerable<Autotransportes.Models.Gasolinera>

@{
    ViewBag.Title = "Index";
}

<h2>Gasolineras</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RazonSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ubicacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GasolineraID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GasolineraID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GasolineraID })
        </td>
    </tr>
}

</table>
